

.chat-main
  .main-header
    .left-box
      %P.left-box__current-group
        = @group.name
      %ul.left-box__member-list 
        Member:
        - @group.users.each do |user|
          %li.left-box__member-list__member
            = user.name
    -#  インスタンス変数に格納されているテーブル情報のキーの値呼び出し

    = link_to edit_group_path(@group) do
      .edit-box
        Edit
  -#  prefix名＋_path+(@group)←renderメソッドの変数と一致

  .messages
    = render @messages
    
  -# .messages
  -#   = render partial: 'message', collection: @messages
  
  -# .messages
  -#   - @messages.each do |message|
  -#     = render partial: "message", locals: { message: message }

  .form
    = form_for [@group, @message] do |f|

      = f.text_field :content, class: 'form__message', placeholder: 'type a message'

      .form__mask

        = f.label :image, class: 'form__mask__image' do

          = icon('fa', 'image', class: 'icon')

          = f.file_field :image, class: 'hidden'
          
      = f.submit 'Send', class: 'form__submit'
    
        




